[submodule "fuzzdb"]
	path = Tools/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "testssl.sh"]
	path = Tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "SecLists"]
	path = Tools/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "webshells"]
	path = Tools/webshells
	url = https://github.com/BlackArch/webshells.git
[submodule "sqlmap"]
	path = Tools/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "graudit"]
	path = Tools/graudit
	url = https://github.com/wireghoul/graudit.git
[submodule "uacscript"]
	path = Tools/uacscript
	url = https://github.com/Vozzie/uacscript.git
[submodule "MiniReverse_Shell_With_Parameters"]
	path = Tools/MiniReverse_Shell_With_Parameters
	url = https://github.com/xillwillx/MiniReverse_Shell_With_Parameters.git
[submodule "wafw00f"]
	path = Tools/wafw00f
	url = https://github.com/sandrogauci/wafw00f.git
[submodule "gnmap-parser"]
	path = Tools/gnmap-parser
	url = https://github.com/nullmode/gnmap-parser.git
[submodule "Babadook"]
	path = Tools/Babadook
	url = https://github.com/jseidl/Babadook.git
[submodule "azazel"]
	path = Tools/azazel
	url = https://github.com/chokepoint/azazel.git
[submodule "reGeorg"]
	path = Tools/reGeorg
	url = https://github.com/sensepost/reGeorg.git
[submodule "b374k"]
	path = Tools/b374k
	url = https://github.com/b374k/b374k.git
[submodule "WeBaCoo"]
	path = Tools/WeBaCoo
	url = https://github.com/anestisb/WeBaCoo.git
[submodule "cmdsql"]
	path = Tools/cmdsql
	url = https://github.com/NetSPI/cmdsql.git
[submodule "python-pty-shells"]
	path = Tools/python-pty-shells
	url = https://github.com/infodox/python-pty-shells.git
[submodule "proxychains-ng"]
	path = Tools/proxychains-ng
	url = https://github.com/rofl0r/proxychains-ng.git
[submodule "icmpsh"]
	path = Tools/icmpsh
	url = https://github.com/inquisb/icmpsh.git
[submodule "dnsftp"]
	path = Tools/dnsftp
	url = https://github.com/breenmachine/dnsftp.git
[submodule "babel-sf"]
	path = Tools/babel-sf
	url = https://github.com/attackdebris/babel-sf.git
[submodule "pwntools"]
	path = Tools/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "tools"]
	path = Tools/tools
	url = https://github.com/nullsecuritynet/tools.git
[submodule "peda"]
	path = Tools/peda
	url = https://github.com/longld/peda.git
[submodule "ropeme"]
	path = Tools/ropeme
	url = https://github.com/packz/ropeme.git
[submodule "Ropper"]
	path = Tools/Ropper
	url = https://github.com/sashs/Ropper.git
[submodule "shellconv"]
	path = Tools/shellconv
	url = https://github.com/hasherezade/shellconv.git
[submodule "commix"]
	path = Tools/commix
	url = https://github.com/stasinopoulos/commix.git
[submodule "wig"]
	path = Tools/wig
	url = https://github.com/jekyc/wig.git
[submodule "CMSmap"]
	path = Tools/CMSmap
	url = https://github.com/Dionach/CMSmap.git
[submodule "droopescan"]
	path = Tools/droopescan
	url = https://github.com/droope/droopescan.git
[submodule "wpscan"]
	path = Tools/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "sonar.js"]
	path = Tools/sonar.js
	url = https://github.com/mandatoryprogrammer/sonar.js.git
[submodule "patator"]
	path = Tools/patator
	url = https://github.com/lanjelot/patator.git
[submodule "crowbar"]
	path = Tools/crowbar
	url = https://github.com/galkan/crowbar.git
[submodule "tools-root/fuzzdb"]
	path = tools-root/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "tools-root/testssl.sh"]
	path = tools-root/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "tools-root/SecLists"]
	path = tools-root/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "tools-root/webshells"]
	path = tools-root/webshells
	url = https://github.com/BlackArch/webshells.git
[submodule "tools-root/sqlmap"]
	path = tools-root/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "tools-root/metasploit-framework"]
	path = tools-root/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "tools-root/graudit"]
	path = tools-root/graudit
	url = https://github.com/wireghoul/graudit.git
[submodule "tools-root/uacscript"]
	path = tools-root/uacscript
	url = https://github.com/Vozzie/uacscript.git
[submodule "tools-root/MiniReverse_Shell_With_Parameters"]
	path = tools-root/MiniReverse_Shell_With_Parameters
	url = https://github.com/xillwillx/MiniReverse_Shell_With_Parameters.git
[submodule "tools-root/wafw00f"]
	path = tools-root/wafw00f
	url = https://github.com/sandrogauci/wafw00f.git
[submodule "tools-root/gnmap-parser"]
	path = tools-root/gnmap-parser
	url = https://github.com/nullmode/gnmap-parser.git
[submodule "tools-root/Babadook"]
	path = tools-root/Babadook
	url = https://github.com/jseidl/Babadook.git
[submodule "tools-root/azazel"]
	path = tools-root/azazel
	url = https://github.com/chokepoint/azazel.git
[submodule "tools-root/reGeorg"]
	path = tools-root/reGeorg
	url = https://github.com/sensepost/reGeorg.git
[submodule "tools-root/b374k"]
	path = tools-root/b374k
	url = https://github.com/b374k/b374k.git
[submodule "tools-root/WeBaCoo"]
	path = tools-root/WeBaCoo
	url = https://github.com/anestisb/WeBaCoo.git
[submodule "tools-root/cmdsql"]
	path = tools-root/cmdsql
	url = https://github.com/NetSPI/cmdsql.git
[submodule "tools-root/python-pty-shells"]
	path = tools-root/python-pty-shells
	url = https://github.com/infodox/python-pty-shells.git
[submodule "tools-root/proxychains-ng"]
	path = tools-root/proxychains-ng
	url = https://github.com/rofl0r/proxychains-ng.git
[submodule "tools-root/icmpsh"]
	path = tools-root/icmpsh
	url = https://github.com/inquisb/icmpsh.git
[submodule "tools-root/dnsftp"]
	path = tools-root/dnsftp
	url = https://github.com/breenmachine/dnsftp.git
[submodule "tools-root/babel-sf"]
	path = tools-root/babel-sf
	url = https://github.com/attackdebris/babel-sf.git
[submodule "tools-root/pwntools"]
	path = tools-root/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "tools-root/tools"]
	path = tools-root/tools
	url = https://github.com/nullsecuritynet/tools.git
[submodule "tools-root/peda"]
	path = tools-root/peda
	url = https://github.com/longld/peda.git
[submodule "tools-root/ropeme"]
	path = tools-root/ropeme
	url = https://github.com/packz/ropeme.git
[submodule "tools-root/Ropper"]
	path = tools-root/Ropper
	url = https://github.com/sashs/Ropper.git
[submodule "tools-root/shellconv"]
	path = tools-root/shellconv
	url = https://github.com/hasherezade/shellconv.git
[submodule "tools-root/commix"]
	path = tools-root/commix
	url = https://github.com/stasinopoulos/commix.git
[submodule "tools-root/wig"]
	path = tools-root/wig
	url = https://github.com/jekyc/wig.git
[submodule "tools-root/CMSmap"]
	path = tools-root/CMSmap
	url = https://github.com/Dionach/CMSmap.git
[submodule "tools-root/droopescan"]
	path = tools-root/droopescan
	url = https://github.com/droope/droopescan.git
[submodule "tools-root/wpscan"]
	path = tools-root/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "tools-root/sonar.js"]
	path = tools-root/sonar.js
	url = https://github.com/mandatoryprogrammer/sonar.js.git
[submodule "tools-root/patator"]
	path = tools-root/patator
	url = https://github.com/lanjelot/patator.git
[submodule "tools-root/crowbar"]
	path = tools-root/crowbar
	url = https://github.com/galkan/crowbar.git
[submodule "tools-root/port-scan-automation"]
	path = tools-root/port-scan-automation
	url = https://github.com/commonexploits/port-scan-automation.git
[submodule "tools-root/nmap"]
	path = tools-root/nmap
	url = https://github.com/nmap/nmap.git
[submodule "exploits/exploit-database"]
	path = exploits/exploit-database
	url = https://github.com/offensive-security/exploit-database.git
[submodule "ssl-testing/testssl.sh"]
	path = ssl-testing/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "infra/metasploit-framework"]
	path = infra/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "infra/proxychains-ng"]
	path = infra/proxychains-ng
	url = https://github.com/rofl0r/proxychains-ng.git
[submodule "infra/dnsftp"]
	path = infra/dnsftp
	url = https://github.com/breenmachine/dnsftp.git
[submodule "infra/reGeorg"]
	path = infra/reGeorg
	url = https://github.com/sensepost/reGeorg.git
[submodule "infra/sonar.js"]
	path = infra/sonar.js
	url = https://github.com/mandatoryprogrammer/sonar.js.git
[submodule "infra/nmap"]
	path = infra/nmap
	url = https://github.com/nmap/nmap.git
[submodule "infra/port-scan-automation"]
	path = infra/port-scan-automation
	url = https://github.com/commonexploits/port-scan-automation.git
[submodule "shells/cmdsql"]
	path = shells/cmdsql
	url = https://github.com/NetSPI/cmdsql.git
[submodule "shells/webshells"]
	path = shells/webshells
	url = https://github.com/BlackArch/webshells.git
[submodule "shells/b374k"]
	path = shells/b374k
	url = https://github.com/b374k/b374k.git
[submodule "shells/python-pty-shells"]
	path = shells/python-pty-shells
	url = https://github.com/infodox/python-pty-shells.git
[submodule "shells/MiniReverse_Shell_With_Parameters"]
	path = shells/MiniReverse_Shell_With_Parameters
	url = https://github.com/xillwillx/MiniReverse_Shell_With_Parameters.git
[submodule "wordlists/fuzzdb"]
	path = wordlists/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb.git
[submodule "wordlists/SecLists"]
	path = wordlists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "web-app/sqlmap"]
	path = web-app/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "web-app/wafw00f"]
	path = web-app/wafw00f
	url = https://github.com/sandrogauci/wafw00f.git
[submodule "web-app/icmpsh"]
	path = web-app/icmpsh
	url = https://github.com/inquisb/icmpsh.git
[submodule "web-app/WeBaCoo"]
	path = web-app/WeBaCoo
	url = https://github.com/anestisb/WeBaCoo.git
[submodule "web-app/commix"]
	path = web-app/commix
	url = https://github.com/stasinopoulos/commix.git
[submodule "web-app/wig"]
	path = web-app/wig
	url = https://github.com/jekyc/wig.git
[submodule "web-app/CMSmap"]
	path = web-app/CMSmap
	url = https://github.com/Dionach/CMSmap.git
[submodule "web-app/droopescan"]
	path = web-app/droopescan
	url = https://github.com/droope/droopescan.git
[submodule "web-app/wpscan"]
	path = web-app/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "source-code-audit/graudit"]
	path = source-code-audit/graudit
	url = https://github.com/wireghoul/graudit.git
[submodule "bruteforce/patator"]
	path = bruteforce/patator
	url = https://github.com/lanjelot/patator.git
[submodule "bruteforce/crowbar"]
	path = bruteforce/crowbar
	url = https://github.com/galkan/crowbar.git
[submodule "windows/uacscript"]
	path = windows/uacscript
	url = https://github.com/Vozzie/uacscript.git
[submodule "powershell/Babadook"]
	path = powershell/Babadook
	url = https://github.com/jseidl/Babadook.git
[submodule "powershell/Empire"]
	path = powershell/Empire
	url = https://github.com/PowerShellEmpire/Empire.git
[submodule "rootkit/azazel"]
	path = rootkit/azazel
	url = https://github.com/chokepoint/azazel.git
[submodule "misc/gnmap-parser"]
	path = misc/gnmap-parser
	url = https://github.com/nullmode/gnmap-parser.git
[submodule "misc/tools"]
	path = misc/tools
	url = https://github.com/nullsecuritynet/tools.git
[submodule "scripting/babel-sf"]
	path = scripting/babel-sf
	url = https://github.com/attackdebris/babel-sf.git
[submodule "exploit-dev/peda"]
	path = exploit-dev/peda
	url = https://github.com/longld/peda.git
[submodule "exploit-dev/ropeme"]
	path = exploit-dev/ropeme
	url = https://github.com/packz/ropeme.git
[submodule "exploit-dev/Ropper"]
	path = exploit-dev/Ropper
	url = https://github.com/sashs/Ropper.git
[submodule "exploit-dev/shellconv"]
	path = exploit-dev/shellconv
	url = https://github.com/hasherezade/shellconv.git
[submodule "exploit-dev/pwntools"]
	path = exploit-dev/pwntools
	url = https://github.com/Gallopsled/pwntools.git
[submodule "windows/mimikatz"]
	path = windows/mimikatz
	url = https://github.com/gentilkiwi/mimikatz.git
[submodule "powershell/PowerSploit"]
	path = powershell/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "recon/EyeWitness"]
	path = recon/EyeWitness
	url = https://github.com/ChrisTruncer/EyeWitness.git
[submodule "web-app/httpscreenshot"]
	path = web-app/httpscreenshot
	url = https://github.com/breenmachine/httpscreenshot.git
[submodule "recon/gitrob"]
	path = recon/gitrob
	url = https://github.com/michenriksen/gitrob.git
[submodule "recon/spiderfoot"]
	path = recon/spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "recon/recon-ng"]
	path = recon/recon-ng
	url = https://github.com/open-security/recon-ng.git
[submodule "web-app/NoSQLMap"]
	path = web-app/NoSQLMap
	url = https://github.com/tcstool/NoSQLMap.git
[submodule "infra/Responder"]
	path = infra/Responder
	url = https://github.com/SpiderLabs/Responder.git
[submodule "powershell/nishang"]
	path = powershell/nishang
	url = https://github.com/samratashok/nishang.git
[submodule "infra/net-creds"]
	path = infra/net-creds
	url = https://github.com/DanMcInerney/net-creds.git
[submodule "redteam/Veil"]
	path = redteam/Veil
	url = https://github.com/Veil-Framework/Veil.git
[submodule "linux/linux-local-enumeration-script"]
	path = linux/linux-local-enumeration-script
	url = https://github.com/Arr0way/linux-local-enumeration-script.git
[submodule "redteam/phishing-frenzy"]
	path = redteam/phishing-frenzy
	url = https://github.com/pentestgeek/phishing-frenzy.git
[submodule "infra/the-backdoor-factory"]
	path = infra/the-backdoor-factory
	url = https://github.com/secretsquirrel/the-backdoor-factory.git
[submodule "infra/smbexec"]
	path = infra/smbexec
	url = https://github.com/pentestgeek/smbexec.git
[submodule "source-code-audit/brakeman"]
	path = source-code-audit/brakeman
	url = https://github.com/presidentbeef/brakeman.git
[submodule "ssl-testing/sslscan"]
	path = ssl-testing/sslscan
	url = https://github.com/rbsec/sslscan.git
[submodule "recon/SimplyEmail"]
	path = recon/SimplyEmail
	url = https://github.com/killswitch-GUI/SimplyEmail.git
[submodule "powershell/BloodHound"]
	path = powershell/BloodHound
	url = https://github.com/adaptivethreat/BloodHound.git
